<div class="container" style="width:800px">
  <table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let miles of milestoneArray"> 
            <th scope="row">{{miles.id}}</th>
            <td>{{miles.name}}</td>
            <td>{{miles.description}}</td>
            <td >
              <select name="cars" id="cars">
                <option value="status" *ngFor="let status of milestoneStatus" [selected]="getValue(miles.status,status.id)" [value]="status.id" >{{status.id+status.name}}</option>
    
                
              </select>
            </td>
        </tr>
        
    </tbody>
  </table>
  </div>

       
  