<div class="container" style="width:800px">
<table class="table">
  <thead>
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor ="let task of taskArray"> 
          <th scope="row">{{task.id}}</th>
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>
            <select (change)="updateVal(task.id,$event.target)">
              <option  *ngFor=" let status of taskStatusArray"
              [selected]="getValue(task.status,status.id)" [value]="status.id" [disabled]="checkDisable(task.status,status.id)"
              >{{status.id+status.name}}</option>
              
            </select>
          </td>
      </tr>
      
  </tbody>
</table>
</div>