<div class="container">
    <form >
            
        <div class="form-group">
            <label for="website">status</label>
            <select formControlName="website" class="form-control">
                <option disabled>Select Website</option>
                <option>Choose Website</option>
                <option >Active</option>
            </select>
            <div  class="alert alert-danger">
                <div >Name is required.</div>
            </div>
        </div>
        
        <button class="btn btn-primary" type="submit" >Submit</button>
    </form>
</div>
