<div class="container" style="width:800px">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th style="visibility: show;">Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projectlist">
        <th scope="row">{{project.id}}</th>
        <td>{{project.name}}</td>
        <td>{{project.description}}</td>
        <td>
          <select (change)="updateVal(project.id,$event.target)" >
            <option value="status" 
              [selected]="getValue(project.status,status.id)"  [value]="status.id" 
              *ngFor="let status of projectlistStatus"  [style.display]="checkDisable(project.status,status.id)?'none':'unset'">{{status.name}}</option>
            
          </select>
        </td>
        <td  style="visibility: show;">{{project.remarks}}</td>
      </tr>

    </tbody>
    
  </table>
</div>